# VerificationResult

## VerificationResult

## Properties

|Name | Type | Description | Notes|
|------------ | ------------- | ------------- | -------------|
| **status** | str | The verification status. | [optional] |
| **records** | [list[Record]](Record) | The list of DNS records that pertain that need to exist for verification. | [optional] |



_PureCloudPlatformClientV2 226.0.0_
