# coding: utf-8

"""
CaseManagementApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os
import re

from datetime import datetime
from datetime import date

from ..configuration import Configuration
from ..api_client import ApiClient
from ..utils import deprecated

from typing import List
from typing import Dict
from typing import Any

from ..models import Empty
from ..models import Case
from ..models import CaseAssociation
from ..models import CaseAssociationCreate
from ..models import CaseAssociationListing
from ..models import CaseAssociationQuery
from ..models import CaseAssociationQueryEntityListing
from ..models import CaseCreate
from ..models import CaseDateDueUpdate
from ..models import CaseListing
from ..models import CasePriorityUpdate
from ..models import CaseSummaryUpdate
from ..models import Caseplan
from ..models import CaseplanCreate
from ..models import CaseplanCreateResponse
from ..models import CaseplanDataSchemaListing
from ..models import CaseplanListing
from ..models import CaseplanUpdate
from ..models import ErrorBody
from ..models import IntakeSettingsListing
from ..models import IntakeSettingsUpdate
from ..models import Stage
from ..models import StageListing
from ..models import Stageplan
from ..models import StageplanListing
from ..models import StageplanUpdate
from ..models import Step
from ..models import StepListing
from ..models import Stepplan
from ..models import StepplanListing
from ..models import StepplanUpdate
from ..models import TerminateJob

class CaseManagementApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def delete_casemanagement_case(self, case_id: str, **kwargs) -> object:
        """
        Delete a Case.
        
	    delete_casemanagement_case is a preview method and is subject to both breaking and non-breaking changes at any time without notice

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_casemanagement_case(case_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str case_id: Case ID (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['case_id']
        all_params.append('callback')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_casemanagement_case" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'case_id' is set
        if ('case_id' not in params) or (params['case_id'] is None):
            raise ValueError("Missing the required parameter `case_id` when calling `delete_casemanagement_case`")


        resource_path = '/api/v2/casemanagement/cases/{caseId}'.replace('{format}', 'json')
        path_params = {}
        if 'case_id' in params:
            path_params['caseId'] = params['case_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['PureCloud OAuth']

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='object',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def delete_casemanagement_caseplan(self, caseplan_id: str, **kwargs) -> object:
        """
        Delete a Caseplan.
        
	    delete_casemanagement_caseplan is a preview method and is subject to both breaking and non-breaking changes at any time without notice

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_casemanagement_caseplan(caseplan_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str caseplan_id: Caseplan ID (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['caseplan_id']
        all_params.append('callback')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_casemanagement_caseplan" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'caseplan_id' is set
        if ('caseplan_id' not in params) or (params['caseplan_id'] is None):
            raise ValueError("Missing the required parameter `caseplan_id` when calling `delete_casemanagement_caseplan`")

        if 'caseplan_id' in params and not re.search('[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}', params['caseplan_id']): 
            raise ValueError("Invalid value for parameter `caseplan_id` when calling `delete_casemanagement_caseplan`, must conform to the pattern `/[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/`")

        resource_path = '/api/v2/casemanagement/caseplans/{caseplanId}'.replace('{format}', 'json')
        path_params = {}
        if 'caseplan_id' in params:
            path_params['caseplanId'] = params['caseplan_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['PureCloud OAuth']

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='object',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_casemanagement_case(self, case_id: str, **kwargs) -> 'Case':
        """
        Get a Case.
        
	    get_casemanagement_case is a preview method and is subject to both breaking and non-breaking changes at any time without notice

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_casemanagement_case(case_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str case_id: Case ID (required)
        :param str expands: Which fields to expand.
        :return: Case
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['case_id', 'expands']
        all_params.append('callback')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_casemanagement_case" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'case_id' is set
        if ('case_id' not in params) or (params['case_id'] is None):
            raise ValueError("Missing the required parameter `case_id` when calling `get_casemanagement_case`")


        resource_path = '/api/v2/casemanagement/cases/{caseId}'.replace('{format}', 'json')
        path_params = {}
        if 'case_id' in params:
            path_params['caseId'] = params['case_id']

        query_params = {}
        if 'expands' in params:
            query_params['expands'] = params['expands']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['PureCloud OAuth']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='Case',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_casemanagement_case_association(self, case_id: str, association_id: str, **kwargs) -> 'CaseAssociation':
        """
        Get a Case Association.
        
	    get_casemanagement_case_association is a preview method and is subject to both breaking and non-breaking changes at any time without notice

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_casemanagement_case_association(case_id, association_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str case_id: Case ID (required)
        :param str association_id: Case Association ID (required)
        :return: CaseAssociation
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['case_id', 'association_id']
        all_params.append('callback')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_casemanagement_case_association" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'case_id' is set
        if ('case_id' not in params) or (params['case_id'] is None):
            raise ValueError("Missing the required parameter `case_id` when calling `get_casemanagement_case_association`")
        # verify the required parameter 'association_id' is set
        if ('association_id' not in params) or (params['association_id'] is None):
            raise ValueError("Missing the required parameter `association_id` when calling `get_casemanagement_case_association`")

        if 'case_id' in params and not re.search('[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}', params['case_id']): 
            raise ValueError("Invalid value for parameter `case_id` when calling `get_casemanagement_case_association`, must conform to the pattern `/[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/`")
        if 'association_id' in params and not re.search('[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}', params['association_id']): 
            raise ValueError("Invalid value for parameter `association_id` when calling `get_casemanagement_case_association`, must conform to the pattern `/[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/`")

        resource_path = '/api/v2/casemanagement/cases/{caseId}/associations/{associationId}'.replace('{format}', 'json')
        path_params = {}
        if 'case_id' in params:
            path_params['caseId'] = params['case_id']
        if 'association_id' in params:
            path_params['associationId'] = params['association_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['PureCloud OAuth']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='CaseAssociation',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_casemanagement_case_associations(self, case_id: str, **kwargs) -> 'CaseAssociationListing':
        """
        Get a list of case associations for a provided case.
        
	    get_casemanagement_case_associations is a preview method and is subject to both breaking and non-breaking changes at any time without notice

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_casemanagement_case_associations(case_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str case_id: Case ID. (required)
        :param str before: The cursor that points to the start of the set of entities that has been returned.
        :param str after: The cursor that points to the end of the set of entities that has been returned.
        :param str page_size: Number of entities to return. Maximum of 200.
        :return: CaseAssociationListing
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['case_id', 'before', 'after', 'page_size']
        all_params.append('callback')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_casemanagement_case_associations" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'case_id' is set
        if ('case_id' not in params) or (params['case_id'] is None):
            raise ValueError("Missing the required parameter `case_id` when calling `get_casemanagement_case_associations`")

        if 'case_id' in params and not re.search('[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}', params['case_id']): 
            raise ValueError("Invalid value for parameter `case_id` when calling `get_casemanagement_case_associations`, must conform to the pattern `/[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/`")

        resource_path = '/api/v2/casemanagement/cases/{caseId}/associations'.replace('{format}', 'json')
        path_params = {}
        if 'case_id' in params:
            path_params['caseId'] = params['case_id']

        query_params = {}
        if 'before' in params:
            query_params['before'] = params['before']
        if 'after' in params:
            query_params['after'] = params['after']
        if 'page_size' in params:
            query_params['pageSize'] = params['page_size']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['PureCloud OAuth']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='CaseAssociationListing',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_casemanagement_case_stage(self, case_id: str, stage_id: str, **kwargs) -> 'Stage':
        """
        Get a Stage.
        
	    get_casemanagement_case_stage is a preview method and is subject to both breaking and non-breaking changes at any time without notice

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_casemanagement_case_stage(case_id, stage_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str case_id: Case ID (required)
        :param str stage_id: Stage ID (required)
        :return: Stage
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['case_id', 'stage_id']
        all_params.append('callback')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_casemanagement_case_stage" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'case_id' is set
        if ('case_id' not in params) or (params['case_id'] is None):
            raise ValueError("Missing the required parameter `case_id` when calling `get_casemanagement_case_stage`")
        # verify the required parameter 'stage_id' is set
        if ('stage_id' not in params) or (params['stage_id'] is None):
            raise ValueError("Missing the required parameter `stage_id` when calling `get_casemanagement_case_stage`")

        if 'case_id' in params and not re.search('[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}', params['case_id']): 
            raise ValueError("Invalid value for parameter `case_id` when calling `get_casemanagement_case_stage`, must conform to the pattern `/[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/`")
        if 'stage_id' in params and not re.search('[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}', params['stage_id']): 
            raise ValueError("Invalid value for parameter `stage_id` when calling `get_casemanagement_case_stage`, must conform to the pattern `/[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/`")

        resource_path = '/api/v2/casemanagement/cases/{caseId}/stages/{stageId}'.replace('{format}', 'json')
        path_params = {}
        if 'case_id' in params:
            path_params['caseId'] = params['case_id']
        if 'stage_id' in params:
            path_params['stageId'] = params['stage_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['PureCloud OAuth']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='Stage',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_casemanagement_case_stage_step(self, case_id: str, stage_id: str, step_id: str, **kwargs) -> 'Step':
        """
        Get a Step.
        
	    get_casemanagement_case_stage_step is a preview method and is subject to both breaking and non-breaking changes at any time without notice

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_casemanagement_case_stage_step(case_id, stage_id, step_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str case_id: Case ID (required)
        :param str stage_id: Stage ID (required)
        :param str step_id: Step ID (required)
        :return: Step
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['case_id', 'stage_id', 'step_id']
        all_params.append('callback')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_casemanagement_case_stage_step" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'case_id' is set
        if ('case_id' not in params) or (params['case_id'] is None):
            raise ValueError("Missing the required parameter `case_id` when calling `get_casemanagement_case_stage_step`")
        # verify the required parameter 'stage_id' is set
        if ('stage_id' not in params) or (params['stage_id'] is None):
            raise ValueError("Missing the required parameter `stage_id` when calling `get_casemanagement_case_stage_step`")
        # verify the required parameter 'step_id' is set
        if ('step_id' not in params) or (params['step_id'] is None):
            raise ValueError("Missing the required parameter `step_id` when calling `get_casemanagement_case_stage_step`")

        if 'case_id' in params and not re.search('[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}', params['case_id']): 
            raise ValueError("Invalid value for parameter `case_id` when calling `get_casemanagement_case_stage_step`, must conform to the pattern `/[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/`")
        if 'stage_id' in params and not re.search('[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}', params['stage_id']): 
            raise ValueError("Invalid value for parameter `stage_id` when calling `get_casemanagement_case_stage_step`, must conform to the pattern `/[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/`")
        if 'step_id' in params and not re.search('[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}', params['step_id']): 
            raise ValueError("Invalid value for parameter `step_id` when calling `get_casemanagement_case_stage_step`, must conform to the pattern `/[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/`")

        resource_path = '/api/v2/casemanagement/cases/{caseId}/stages/{stageId}/steps/{stepId}'.replace('{format}', 'json')
        path_params = {}
        if 'case_id' in params:
            path_params['caseId'] = params['case_id']
        if 'stage_id' in params:
            path_params['stageId'] = params['stage_id']
        if 'step_id' in params:
            path_params['stepId'] = params['step_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['PureCloud OAuth']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='Step',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_casemanagement_case_stage_steps(self, case_id: str, stage_id: str, **kwargs) -> 'StepListing':
        """
        Get a list of Steps.
        
	    get_casemanagement_case_stage_steps is a preview method and is subject to both breaking and non-breaking changes at any time without notice

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_casemanagement_case_stage_steps(case_id, stage_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str case_id: Case ID (required)
        :param str stage_id: Stage ID (required)
        :param str before: The cursor that points to the start of the set of entities that has been returned.
        :param str after: The cursor that points to the end of the set of entities that has been returned.
        :param str page_size: Number of entities to return. Maximum of 200.
        :return: StepListing
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['case_id', 'stage_id', 'before', 'after', 'page_size']
        all_params.append('callback')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_casemanagement_case_stage_steps" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'case_id' is set
        if ('case_id' not in params) or (params['case_id'] is None):
            raise ValueError("Missing the required parameter `case_id` when calling `get_casemanagement_case_stage_steps`")
        # verify the required parameter 'stage_id' is set
        if ('stage_id' not in params) or (params['stage_id'] is None):
            raise ValueError("Missing the required parameter `stage_id` when calling `get_casemanagement_case_stage_steps`")

        if 'case_id' in params and not re.search('[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}', params['case_id']): 
            raise ValueError("Invalid value for parameter `case_id` when calling `get_casemanagement_case_stage_steps`, must conform to the pattern `/[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/`")
        if 'stage_id' in params and not re.search('[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}', params['stage_id']): 
            raise ValueError("Invalid value for parameter `stage_id` when calling `get_casemanagement_case_stage_steps`, must conform to the pattern `/[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/`")

        resource_path = '/api/v2/casemanagement/cases/{caseId}/stages/{stageId}/steps'.replace('{format}', 'json')
        path_params = {}
        if 'case_id' in params:
            path_params['caseId'] = params['case_id']
        if 'stage_id' in params:
            path_params['stageId'] = params['stage_id']

        query_params = {}
        if 'before' in params:
            query_params['before'] = params['before']
        if 'after' in params:
            query_params['after'] = params['after']
        if 'page_size' in params:
            query_params['pageSize'] = params['page_size']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['PureCloud OAuth']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='StepListing',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_casemanagement_case_stages(self, case_id: str, **kwargs) -> 'StageListing':
        """
        Get a list of Stages.
        
	    get_casemanagement_case_stages is a preview method and is subject to both breaking and non-breaking changes at any time without notice

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_casemanagement_case_stages(case_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str case_id: Case ID (required)
        :param str before: The cursor that points to the start of the set of entities that has been returned.
        :param str after: The cursor that points to the end of the set of entities that has been returned.
        :param str page_size: Number of entities to return. Maximum of 200.
        :return: StageListing
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['case_id', 'before', 'after', 'page_size']
        all_params.append('callback')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_casemanagement_case_stages" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'case_id' is set
        if ('case_id' not in params) or (params['case_id'] is None):
            raise ValueError("Missing the required parameter `case_id` when calling `get_casemanagement_case_stages`")

        if 'case_id' in params and not re.search('[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}', params['case_id']): 
            raise ValueError("Invalid value for parameter `case_id` when calling `get_casemanagement_case_stages`, must conform to the pattern `/[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/`")

        resource_path = '/api/v2/casemanagement/cases/{caseId}/stages'.replace('{format}', 'json')
        path_params = {}
        if 'case_id' in params:
            path_params['caseId'] = params['case_id']

        query_params = {}
        if 'before' in params:
            query_params['before'] = params['before']
        if 'after' in params:
            query_params['after'] = params['after']
        if 'page_size' in params:
            query_params['pageSize'] = params['page_size']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['PureCloud OAuth']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='StageListing',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_casemanagement_case_terminate_job(self, case_id: str, job_id: str, **kwargs) -> 'TerminateJob':
        """
        Get a Terminate Job for a Case.
        
	    get_casemanagement_case_terminate_job is a preview method and is subject to both breaking and non-breaking changes at any time without notice

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_casemanagement_case_terminate_job(case_id, job_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str case_id: Case ID (required)
        :param str job_id: Job ID (required)
        :return: TerminateJob
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['case_id', 'job_id']
        all_params.append('callback')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_casemanagement_case_terminate_job" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'case_id' is set
        if ('case_id' not in params) or (params['case_id'] is None):
            raise ValueError("Missing the required parameter `case_id` when calling `get_casemanagement_case_terminate_job`")
        # verify the required parameter 'job_id' is set
        if ('job_id' not in params) or (params['job_id'] is None):
            raise ValueError("Missing the required parameter `job_id` when calling `get_casemanagement_case_terminate_job`")

        if 'case_id' in params and not re.search('[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}', params['case_id']): 
            raise ValueError("Invalid value for parameter `case_id` when calling `get_casemanagement_case_terminate_job`, must conform to the pattern `/[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/`")
        if 'job_id' in params and not re.search('[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}', params['job_id']): 
            raise ValueError("Invalid value for parameter `job_id` when calling `get_casemanagement_case_terminate_job`, must conform to the pattern `/[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/`")

        resource_path = '/api/v2/casemanagement/cases/{caseId}/terminate/jobs/{jobId}'.replace('{format}', 'json')
        path_params = {}
        if 'case_id' in params:
            path_params['caseId'] = params['case_id']
        if 'job_id' in params:
            path_params['jobId'] = params['job_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['PureCloud OAuth']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='TerminateJob',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_casemanagement_caseplan(self, caseplan_id: str, **kwargs) -> 'Caseplan':
        """
        Get a Caseplan.
        
	    get_casemanagement_caseplan is a preview method and is subject to both breaking and non-breaking changes at any time without notice

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_casemanagement_caseplan(caseplan_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str caseplan_id: Caseplan ID (required)
        :return: Caseplan
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['caseplan_id']
        all_params.append('callback')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_casemanagement_caseplan" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'caseplan_id' is set
        if ('caseplan_id' not in params) or (params['caseplan_id'] is None):
            raise ValueError("Missing the required parameter `caseplan_id` when calling `get_casemanagement_caseplan`")

        if 'caseplan_id' in params and not re.search('[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}', params['caseplan_id']): 
            raise ValueError("Invalid value for parameter `caseplan_id` when calling `get_casemanagement_caseplan`, must conform to the pattern `/[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/`")

        resource_path = '/api/v2/casemanagement/caseplans/{caseplanId}'.replace('{format}', 'json')
        path_params = {}
        if 'caseplan_id' in params:
            path_params['caseplanId'] = params['caseplan_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['PureCloud OAuth']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='Caseplan',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_casemanagement_caseplan_version(self, caseplan_id: str, version_id: str, **kwargs) -> 'Caseplan':
        """
        Get a Caseplan version.
        
	    get_casemanagement_caseplan_version is a preview method and is subject to both breaking and non-breaking changes at any time without notice

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_casemanagement_caseplan_version(caseplan_id, version_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str caseplan_id: Caseplan ID (required)
        :param str version_id: Version of the caseplan (required)
        :return: Caseplan
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['caseplan_id', 'version_id']
        all_params.append('callback')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_casemanagement_caseplan_version" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'caseplan_id' is set
        if ('caseplan_id' not in params) or (params['caseplan_id'] is None):
            raise ValueError("Missing the required parameter `caseplan_id` when calling `get_casemanagement_caseplan_version`")
        # verify the required parameter 'version_id' is set
        if ('version_id' not in params) or (params['version_id'] is None):
            raise ValueError("Missing the required parameter `version_id` when calling `get_casemanagement_caseplan_version`")

        if 'caseplan_id' in params and not re.search('[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}', params['caseplan_id']): 
            raise ValueError("Invalid value for parameter `caseplan_id` when calling `get_casemanagement_caseplan_version`, must conform to the pattern `/[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/`")

        resource_path = '/api/v2/casemanagement/caseplans/{caseplanId}/versions/{versionId}'.replace('{format}', 'json')
        path_params = {}
        if 'caseplan_id' in params:
            path_params['caseplanId'] = params['caseplan_id']
        if 'version_id' in params:
            path_params['versionId'] = params['version_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['PureCloud OAuth']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='Caseplan',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_casemanagement_caseplan_version_dataschemas(self, caseplan_id: str, version_id: str, **kwargs) -> 'CaseplanDataSchemaListing':
        """
        Get the dataSchemas for a caseplan version.
        
	    get_casemanagement_caseplan_version_dataschemas is a preview method and is subject to both breaking and non-breaking changes at any time without notice

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_casemanagement_caseplan_version_dataschemas(caseplan_id, version_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str caseplan_id: Caseplan ID (required)
        :param str version_id: Version of the caseplan (required)
        :return: CaseplanDataSchemaListing
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['caseplan_id', 'version_id']
        all_params.append('callback')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_casemanagement_caseplan_version_dataschemas" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'caseplan_id' is set
        if ('caseplan_id' not in params) or (params['caseplan_id'] is None):
            raise ValueError("Missing the required parameter `caseplan_id` when calling `get_casemanagement_caseplan_version_dataschemas`")
        # verify the required parameter 'version_id' is set
        if ('version_id' not in params) or (params['version_id'] is None):
            raise ValueError("Missing the required parameter `version_id` when calling `get_casemanagement_caseplan_version_dataschemas`")

        if 'caseplan_id' in params and not re.search('[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}', params['caseplan_id']): 
            raise ValueError("Invalid value for parameter `caseplan_id` when calling `get_casemanagement_caseplan_version_dataschemas`, must conform to the pattern `/[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/`")

        resource_path = '/api/v2/casemanagement/caseplans/{caseplanId}/versions/{versionId}/dataschemas'.replace('{format}', 'json')
        path_params = {}
        if 'caseplan_id' in params:
            path_params['caseplanId'] = params['caseplan_id']
        if 'version_id' in params:
            path_params['versionId'] = params['version_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['PureCloud OAuth']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='CaseplanDataSchemaListing',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_casemanagement_caseplan_version_intakesettings(self, caseplan_id: str, version_id: str, **kwargs) -> 'IntakeSettingsListing':
        """
        Get the intake settings for a Caseplan version.
        
	    get_casemanagement_caseplan_version_intakesettings is a preview method and is subject to both breaking and non-breaking changes at any time without notice

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_casemanagement_caseplan_version_intakesettings(caseplan_id, version_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str caseplan_id: Caseplan ID (required)
        :param str version_id: Version of the caseplan (required)
        :return: IntakeSettingsListing
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['caseplan_id', 'version_id']
        all_params.append('callback')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_casemanagement_caseplan_version_intakesettings" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'caseplan_id' is set
        if ('caseplan_id' not in params) or (params['caseplan_id'] is None):
            raise ValueError("Missing the required parameter `caseplan_id` when calling `get_casemanagement_caseplan_version_intakesettings`")
        # verify the required parameter 'version_id' is set
        if ('version_id' not in params) or (params['version_id'] is None):
            raise ValueError("Missing the required parameter `version_id` when calling `get_casemanagement_caseplan_version_intakesettings`")

        if 'caseplan_id' in params and not re.search('[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}', params['caseplan_id']): 
            raise ValueError("Invalid value for parameter `caseplan_id` when calling `get_casemanagement_caseplan_version_intakesettings`, must conform to the pattern `/[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/`")

        resource_path = '/api/v2/casemanagement/caseplans/{caseplanId}/versions/{versionId}/intakesettings'.replace('{format}', 'json')
        path_params = {}
        if 'caseplan_id' in params:
            path_params['caseplanId'] = params['caseplan_id']
        if 'version_id' in params:
            path_params['versionId'] = params['version_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['PureCloud OAuth']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='IntakeSettingsListing',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_casemanagement_caseplan_version_stageplan(self, caseplan_id: str, version_id: str, stageplan_id: str, **kwargs) -> 'Stageplan':
        """
        Get a Stageplan.
        
	    get_casemanagement_caseplan_version_stageplan is a preview method and is subject to both breaking and non-breaking changes at any time without notice

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_casemanagement_caseplan_version_stageplan(caseplan_id, version_id, stageplan_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str caseplan_id: Caseplan ID (required)
        :param str version_id: Version ID (required)
        :param str stageplan_id: Stageplan ID (required)
        :param list[str] expands: Which fields to expand.
        :return: Stageplan
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['caseplan_id', 'version_id', 'stageplan_id', 'expands']
        all_params.append('callback')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_casemanagement_caseplan_version_stageplan" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'caseplan_id' is set
        if ('caseplan_id' not in params) or (params['caseplan_id'] is None):
            raise ValueError("Missing the required parameter `caseplan_id` when calling `get_casemanagement_caseplan_version_stageplan`")
        # verify the required parameter 'version_id' is set
        if ('version_id' not in params) or (params['version_id'] is None):
            raise ValueError("Missing the required parameter `version_id` when calling `get_casemanagement_caseplan_version_stageplan`")
        # verify the required parameter 'stageplan_id' is set
        if ('stageplan_id' not in params) or (params['stageplan_id'] is None):
            raise ValueError("Missing the required parameter `stageplan_id` when calling `get_casemanagement_caseplan_version_stageplan`")

        if 'caseplan_id' in params and not re.search('[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}', params['caseplan_id']): 
            raise ValueError("Invalid value for parameter `caseplan_id` when calling `get_casemanagement_caseplan_version_stageplan`, must conform to the pattern `/[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/`")
        if 'stageplan_id' in params and not re.search('[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}', params['stageplan_id']): 
            raise ValueError("Invalid value for parameter `stageplan_id` when calling `get_casemanagement_caseplan_version_stageplan`, must conform to the pattern `/[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/`")

        resource_path = '/api/v2/casemanagement/caseplans/{caseplanId}/versions/{versionId}/stageplans/{stageplanId}'.replace('{format}', 'json')
        path_params = {}
        if 'caseplan_id' in params:
            path_params['caseplanId'] = params['caseplan_id']
        if 'version_id' in params:
            path_params['versionId'] = params['version_id']
        if 'stageplan_id' in params:
            path_params['stageplanId'] = params['stageplan_id']

        query_params = {}
        if 'expands' in params:
            query_params['expands'] = params['expands']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['PureCloud OAuth']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='Stageplan',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_casemanagement_caseplan_version_stageplan_stepplan(self, caseplan_id: str, version_id: str, stageplan_id: str, stepplan_id: str, **kwargs) -> 'Stepplan':
        """
        Get a Stepplan.
        
	    get_casemanagement_caseplan_version_stageplan_stepplan is a preview method and is subject to both breaking and non-breaking changes at any time without notice

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_casemanagement_caseplan_version_stageplan_stepplan(caseplan_id, version_id, stageplan_id, stepplan_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str caseplan_id: Caseplan ID (required)
        :param str version_id: Version ID (required)
        :param str stageplan_id: Stageplan ID (required)
        :param str stepplan_id: Stepplan ID (required)
        :param list[str] expands: Which fields to expand.
        :return: Stepplan
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['caseplan_id', 'version_id', 'stageplan_id', 'stepplan_id', 'expands']
        all_params.append('callback')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_casemanagement_caseplan_version_stageplan_stepplan" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'caseplan_id' is set
        if ('caseplan_id' not in params) or (params['caseplan_id'] is None):
            raise ValueError("Missing the required parameter `caseplan_id` when calling `get_casemanagement_caseplan_version_stageplan_stepplan`")
        # verify the required parameter 'version_id' is set
        if ('version_id' not in params) or (params['version_id'] is None):
            raise ValueError("Missing the required parameter `version_id` when calling `get_casemanagement_caseplan_version_stageplan_stepplan`")
        # verify the required parameter 'stageplan_id' is set
        if ('stageplan_id' not in params) or (params['stageplan_id'] is None):
            raise ValueError("Missing the required parameter `stageplan_id` when calling `get_casemanagement_caseplan_version_stageplan_stepplan`")
        # verify the required parameter 'stepplan_id' is set
        if ('stepplan_id' not in params) or (params['stepplan_id'] is None):
            raise ValueError("Missing the required parameter `stepplan_id` when calling `get_casemanagement_caseplan_version_stageplan_stepplan`")

        if 'caseplan_id' in params and not re.search('[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}', params['caseplan_id']): 
            raise ValueError("Invalid value for parameter `caseplan_id` when calling `get_casemanagement_caseplan_version_stageplan_stepplan`, must conform to the pattern `/[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/`")
        if 'stageplan_id' in params and not re.search('[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}', params['stageplan_id']): 
            raise ValueError("Invalid value for parameter `stageplan_id` when calling `get_casemanagement_caseplan_version_stageplan_stepplan`, must conform to the pattern `/[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/`")
        if 'stepplan_id' in params and not re.search('[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}', params['stepplan_id']): 
            raise ValueError("Invalid value for parameter `stepplan_id` when calling `get_casemanagement_caseplan_version_stageplan_stepplan`, must conform to the pattern `/[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/`")

        resource_path = '/api/v2/casemanagement/caseplans/{caseplanId}/versions/{versionId}/stageplans/{stageplanId}/stepplans/{stepplanId}'.replace('{format}', 'json')
        path_params = {}
        if 'caseplan_id' in params:
            path_params['caseplanId'] = params['caseplan_id']
        if 'version_id' in params:
            path_params['versionId'] = params['version_id']
        if 'stageplan_id' in params:
            path_params['stageplanId'] = params['stageplan_id']
        if 'stepplan_id' in params:
            path_params['stepplanId'] = params['stepplan_id']

        query_params = {}
        if 'expands' in params:
            query_params['expands'] = params['expands']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['PureCloud OAuth']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='Stepplan',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_casemanagement_caseplan_version_stageplan_stepplans(self, caseplan_id: str, version_id: str, stageplan_id: str, **kwargs) -> 'StepplanListing':
        """
        Get a list of Stepplans.
        
	    get_casemanagement_caseplan_version_stageplan_stepplans is a preview method and is subject to both breaking and non-breaking changes at any time without notice

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_casemanagement_caseplan_version_stageplan_stepplans(caseplan_id, version_id, stageplan_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str caseplan_id: Caseplan ID (required)
        :param str version_id: Version ID (required)
        :param str stageplan_id: Stageplan ID (required)
        :param str before: The cursor that points to the start of the set of entities that has been returned.
        :param str after: The cursor that points to the end of the set of entities that has been returned.
        :param str page_size: Number of entities to return. Maximum of 200.
        :param list[str] expands: Which fields to expand.
        :return: StepplanListing
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['caseplan_id', 'version_id', 'stageplan_id', 'before', 'after', 'page_size', 'expands']
        all_params.append('callback')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_casemanagement_caseplan_version_stageplan_stepplans" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'caseplan_id' is set
        if ('caseplan_id' not in params) or (params['caseplan_id'] is None):
            raise ValueError("Missing the required parameter `caseplan_id` when calling `get_casemanagement_caseplan_version_stageplan_stepplans`")
        # verify the required parameter 'version_id' is set
        if ('version_id' not in params) or (params['version_id'] is None):
            raise ValueError("Missing the required parameter `version_id` when calling `get_casemanagement_caseplan_version_stageplan_stepplans`")
        # verify the required parameter 'stageplan_id' is set
        if ('stageplan_id' not in params) or (params['stageplan_id'] is None):
            raise ValueError("Missing the required parameter `stageplan_id` when calling `get_casemanagement_caseplan_version_stageplan_stepplans`")

        if 'caseplan_id' in params and not re.search('[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}', params['caseplan_id']): 
            raise ValueError("Invalid value for parameter `caseplan_id` when calling `get_casemanagement_caseplan_version_stageplan_stepplans`, must conform to the pattern `/[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/`")
        if 'stageplan_id' in params and not re.search('[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}', params['stageplan_id']): 
            raise ValueError("Invalid value for parameter `stageplan_id` when calling `get_casemanagement_caseplan_version_stageplan_stepplans`, must conform to the pattern `/[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/`")

        resource_path = '/api/v2/casemanagement/caseplans/{caseplanId}/versions/{versionId}/stageplans/{stageplanId}/stepplans'.replace('{format}', 'json')
        path_params = {}
        if 'caseplan_id' in params:
            path_params['caseplanId'] = params['caseplan_id']
        if 'version_id' in params:
            path_params['versionId'] = params['version_id']
        if 'stageplan_id' in params:
            path_params['stageplanId'] = params['stageplan_id']

        query_params = {}
        if 'before' in params:
            query_params['before'] = params['before']
        if 'after' in params:
            query_params['after'] = params['after']
        if 'page_size' in params:
            query_params['pageSize'] = params['page_size']
        if 'expands' in params:
            query_params['expands'] = params['expands']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['PureCloud OAuth']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='StepplanListing',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_casemanagement_caseplan_version_stageplans(self, caseplan_id: str, version_id: str, **kwargs) -> 'StageplanListing':
        """
        Get a list of Stageplans.
        
	    get_casemanagement_caseplan_version_stageplans is a preview method and is subject to both breaking and non-breaking changes at any time without notice

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_casemanagement_caseplan_version_stageplans(caseplan_id, version_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str caseplan_id: Caseplan ID (required)
        :param str version_id: Version ID (required)
        :param str before: The cursor that points to the start of the set of entities that has been returned.
        :param str after: The cursor that points to the end of the set of entities that has been returned.
        :param str page_size: Number of entities to return. Maximum of 200.
        :param list[str] expands: Which fields to expand.
        :return: StageplanListing
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['caseplan_id', 'version_id', 'before', 'after', 'page_size', 'expands']
        all_params.append('callback')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_casemanagement_caseplan_version_stageplans" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'caseplan_id' is set
        if ('caseplan_id' not in params) or (params['caseplan_id'] is None):
            raise ValueError("Missing the required parameter `caseplan_id` when calling `get_casemanagement_caseplan_version_stageplans`")
        # verify the required parameter 'version_id' is set
        if ('version_id' not in params) or (params['version_id'] is None):
            raise ValueError("Missing the required parameter `version_id` when calling `get_casemanagement_caseplan_version_stageplans`")

        if 'caseplan_id' in params and not re.search('[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}', params['caseplan_id']): 
            raise ValueError("Invalid value for parameter `caseplan_id` when calling `get_casemanagement_caseplan_version_stageplans`, must conform to the pattern `/[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/`")

        resource_path = '/api/v2/casemanagement/caseplans/{caseplanId}/versions/{versionId}/stageplans'.replace('{format}', 'json')
        path_params = {}
        if 'caseplan_id' in params:
            path_params['caseplanId'] = params['caseplan_id']
        if 'version_id' in params:
            path_params['versionId'] = params['version_id']

        query_params = {}
        if 'before' in params:
            query_params['before'] = params['before']
        if 'after' in params:
            query_params['after'] = params['after']
        if 'page_size' in params:
            query_params['pageSize'] = params['page_size']
        if 'expands' in params:
            query_params['expands'] = params['expands']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['PureCloud OAuth']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='StageplanListing',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_casemanagement_caseplans(self, **kwargs) -> 'CaseplanListing':
        """
        Get a list of Caseplans.
        
	    get_casemanagement_caseplans is a preview method and is subject to both breaking and non-breaking changes at any time without notice

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_casemanagement_caseplans(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str after: The cursor that points to the end of the set of caseplans that has been returned.
        :param int page_size: Number of caseplans to return. Maximum of 200.
        :param str customer_intent_id: Filter by Customer Intent.
        :param str division_ids: Filter by Divisions.
        :return: CaseplanListing
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['after', 'page_size', 'customer_intent_id', 'division_ids']
        all_params.append('callback')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_casemanagement_caseplans" % key
                )
            params[key] = val
        del params['kwargs']


        if 'page_size' in params and params['page_size'] > 200: 
            raise ValueError("Invalid value for parameter `page_size` when calling `get_casemanagement_caseplans`, must be a value less than or equal to  `200`")

        resource_path = '/api/v2/casemanagement/caseplans'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'after' in params:
            query_params['after'] = params['after']
        if 'page_size' in params:
            query_params['pageSize'] = params['page_size']
        if 'customer_intent_id' in params:
            query_params['customerIntentId'] = params['customer_intent_id']
        if 'division_ids' in params:
            query_params['divisionIds'] = params['division_ids']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['PureCloud OAuth']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='CaseplanListing',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_casemanagement_cases_externalcontact(self, external_contact_id: str, **kwargs) -> 'CaseListing':
        """
        Get a list of cases for provided external contact id.
        
	    get_casemanagement_cases_externalcontact is a preview method and is subject to both breaking and non-breaking changes at any time without notice

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_casemanagement_cases_externalcontact(external_contact_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str external_contact_id: External Contact ID (required)
        :param str after: The cursor that points to the end of the set of cases that has been returned.
        :param int page_size: Number of cases to return. Maximum of 200.
        :param str division_ids: Filter by Divisions
        :param list[str] expands: Which fields to expand.
        :return: CaseListing
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['external_contact_id', 'after', 'page_size', 'division_ids', 'expands']
        all_params.append('callback')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_casemanagement_cases_externalcontact" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'external_contact_id' is set
        if ('external_contact_id' not in params) or (params['external_contact_id'] is None):
            raise ValueError("Missing the required parameter `external_contact_id` when calling `get_casemanagement_cases_externalcontact`")

        if 'page_size' in params and params['page_size'] > 200: 
            raise ValueError("Invalid value for parameter `page_size` when calling `get_casemanagement_cases_externalcontact`, must be a value less than or equal to  `200`")
        if 'page_size' in params and params['page_size'] < 1: 
            raise ValueError("Invalid value for parameter `page_size` when calling `get_casemanagement_cases_externalcontact`, must be a value greater than or equal to `1`")

        resource_path = '/api/v2/casemanagement/cases/externalcontacts/{externalContactId}'.replace('{format}', 'json')
        path_params = {}
        if 'external_contact_id' in params:
            path_params['externalContactId'] = params['external_contact_id']

        query_params = {}
        if 'after' in params:
            query_params['after'] = params['after']
        if 'page_size' in params:
            query_params['pageSize'] = params['page_size']
        if 'division_ids' in params:
            query_params['divisionIds'] = params['division_ids']
        if 'expands' in params:
            query_params['expands'] = params['expands']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['PureCloud OAuth']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='CaseListing',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_casemanagement_cases_reference(self, reference_id: str, **kwargs) -> 'Case':
        """
        Get a Case by reference.
        
	    get_casemanagement_cases_reference is a preview method and is subject to both breaking and non-breaking changes at any time without notice

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_casemanagement_cases_reference(reference_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str reference_id: Reference (required)
        :param str expands: Which fields to expand.
        :return: Case
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['reference_id', 'expands']
        all_params.append('callback')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_casemanagement_cases_reference" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'reference_id' is set
        if ('reference_id' not in params) or (params['reference_id'] is None):
            raise ValueError("Missing the required parameter `reference_id` when calling `get_casemanagement_cases_reference`")


        resource_path = '/api/v2/casemanagement/cases/references/{referenceId}'.replace('{format}', 'json')
        path_params = {}
        if 'reference_id' in params:
            path_params['referenceId'] = params['reference_id']

        query_params = {}
        if 'expands' in params:
            query_params['expands'] = params['expands']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['PureCloud OAuth']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='Case',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def patch_casemanagement_case_datedue(self, case_id: str, body: 'CaseDateDueUpdate', **kwargs) -> 'Case':
        """
        Update date due of a Case.
        
	    patch_casemanagement_case_datedue is a preview method and is subject to both breaking and non-breaking changes at any time without notice

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.patch_casemanagement_case_datedue(case_id, body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str case_id: Case ID (required)
        :param CaseDateDueUpdate body: Date due (required)
        :return: Case
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['case_id', 'body']
        all_params.append('callback')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method patch_casemanagement_case_datedue" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'case_id' is set
        if ('case_id' not in params) or (params['case_id'] is None):
            raise ValueError("Missing the required parameter `case_id` when calling `patch_casemanagement_case_datedue`")
        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `patch_casemanagement_case_datedue`")


        resource_path = '/api/v2/casemanagement/cases/{caseId}/datedue'.replace('{format}', 'json')
        path_params = {}
        if 'case_id' in params:
            path_params['caseId'] = params['case_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['PureCloud OAuth']

        response = self.api_client.call_api(resource_path, 'PATCH',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='Case',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def patch_casemanagement_case_priority(self, case_id: str, body: 'CasePriorityUpdate', **kwargs) -> 'Case':
        """
        Update priority of a Case.
        
	    patch_casemanagement_case_priority is a preview method and is subject to both breaking and non-breaking changes at any time without notice

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.patch_casemanagement_case_priority(case_id, body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str case_id: Case ID (required)
        :param CasePriorityUpdate body: Priority (required)
        :return: Case
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['case_id', 'body']
        all_params.append('callback')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method patch_casemanagement_case_priority" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'case_id' is set
        if ('case_id' not in params) or (params['case_id'] is None):
            raise ValueError("Missing the required parameter `case_id` when calling `patch_casemanagement_case_priority`")
        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `patch_casemanagement_case_priority`")


        resource_path = '/api/v2/casemanagement/cases/{caseId}/priority'.replace('{format}', 'json')
        path_params = {}
        if 'case_id' in params:
            path_params['caseId'] = params['case_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
[...]
