# coding: utf-8

"""
DependenciesApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os
import re

from datetime import datetime
from datetime import date

from ..configuration import Configuration
from ..api_client import ApiClient
from ..utils import deprecated

from typing import List
from typing import Dict
from typing import Any

from ..models import Empty
from ..models import DependencyCount
from ..models import DependencyEntityListing
from ..models import ErrorBody

class DependenciesApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def get_dependencies_type_entity_type_id_entity_id_connections_requiredby(self, entity_type: str, entity_id: str, **kwargs) -> 'DependencyEntityListing':
        """
        Get entities that require the given entity
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_dependencies_type_entity_type_id_entity_id_connections_requiredby(entity_type, entity_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str entity_type: Entity type (required)
        :param str entity_id: Entity ID (required)
        :param str page_size: Page size (max 100)
        :param str before_source_type: Cursor for previous page
        :param str before_source_id: Cursor for previous page
        :param str after_source_type: Cursor for next page
        :param str after_source_id: Cursor for next page
        :return: DependencyEntityListing
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['entity_type', 'entity_id', 'page_size', 'before_source_type', 'before_source_id', 'after_source_type', 'after_source_id']
        all_params.append('callback')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_dependencies_type_entity_type_id_entity_id_connections_requiredby" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'entity_type' is set
        if ('entity_type' not in params) or (params['entity_type'] is None):
            raise ValueError("Missing the required parameter `entity_type` when calling `get_dependencies_type_entity_type_id_entity_id_connections_requiredby`")
        # verify the required parameter 'entity_id' is set
        if ('entity_id' not in params) or (params['entity_id'] is None):
            raise ValueError("Missing the required parameter `entity_id` when calling `get_dependencies_type_entity_type_id_entity_id_connections_requiredby`")


        resource_path = '/api/v2/dependencies/type/{entityType}/id/{entityId}/connections/requiredby'.replace('{format}', 'json')
        path_params = {}
        if 'entity_type' in params:
            path_params['entityType'] = params['entity_type']
        if 'entity_id' in params:
            path_params['entityId'] = params['entity_id']

        query_params = {}
        if 'page_size' in params:
            query_params['pageSize'] = params['page_size']
        if 'before_source_type' in params:
            query_params['beforeSourceType'] = params['before_source_type']
        if 'before_source_id' in params:
            query_params['beforeSourceId'] = params['before_source_id']
        if 'after_source_type' in params:
            query_params['afterSourceType'] = params['after_source_type']
        if 'after_source_id' in params:
            query_params['afterSourceId'] = params['after_source_id']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['PureCloud OAuth']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='DependencyEntityListing',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_dependencies_type_entity_type_id_entity_id_connections_requiredbycounts(self, entity_type: str, entity_id: str, **kwargs) -> 'DependencyCount':
        """
        An estimated count of entities that depend on this entity, including indirect dependencies.
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_dependencies_type_entity_type_id_entity_id_connections_requiredbycounts(entity_type, entity_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str entity_type: Entity type (required)
        :param str entity_id: Entity ID (required)
        :return: DependencyCount
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['entity_type', 'entity_id']
        all_params.append('callback')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_dependencies_type_entity_type_id_entity_id_connections_requiredbycounts" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'entity_type' is set
        if ('entity_type' not in params) or (params['entity_type'] is None):
            raise ValueError("Missing the required parameter `entity_type` when calling `get_dependencies_type_entity_type_id_entity_id_connections_requiredbycounts`")
        # verify the required parameter 'entity_id' is set
        if ('entity_id' not in params) or (params['entity_id'] is None):
            raise ValueError("Missing the required parameter `entity_id` when calling `get_dependencies_type_entity_type_id_entity_id_connections_requiredbycounts`")


        resource_path = '/api/v2/dependencies/type/{entityType}/id/{entityId}/connections/requiredbycounts'.replace('{format}', 'json')
        path_params = {}
        if 'entity_type' in params:
            path_params['entityType'] = params['entity_type']
        if 'entity_id' in params:
            path_params['entityId'] = params['entity_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['PureCloud OAuth']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='DependencyCount',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_dependencies_type_entity_type_id_entity_id_connections_requires(self, entity_type: str, entity_id: str, **kwargs) -> 'DependencyEntityListing':
        """
        Get entities that the given entity requires
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_dependencies_type_entity_type_id_entity_id_connections_requires(entity_type, entity_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str entity_type: Entity type (required)
        :param str entity_id: Entity ID (required)
        :param str page_size: Page size (max 100)
        :param str before_source_type: Cursor for previous page
        :param str before_source_id: Cursor for previous page
        :param str after_source_type: Cursor for next page
        :param str after_source_id: Cursor for next page
        :return: DependencyEntityListing
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['entity_type', 'entity_id', 'page_size', 'before_source_type', 'before_source_id', 'after_source_type', 'after_source_id']
        all_params.append('callback')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_dependencies_type_entity_type_id_entity_id_connections_requires" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'entity_type' is set
        if ('entity_type' not in params) or (params['entity_type'] is None):
            raise ValueError("Missing the required parameter `entity_type` when calling `get_dependencies_type_entity_type_id_entity_id_connections_requires`")
        # verify the required parameter 'entity_id' is set
        if ('entity_id' not in params) or (params['entity_id'] is None):
            raise ValueError("Missing the required parameter `entity_id` when calling `get_dependencies_type_entity_type_id_entity_id_connections_requires`")


        resource_path = '/api/v2/dependencies/type/{entityType}/id/{entityId}/connections/requires'.replace('{format}', 'json')
        path_params = {}
        if 'entity_type' in params:
            path_params['entityType'] = params['entity_type']
        if 'entity_id' in params:
            path_params['entityId'] = params['entity_id']

        query_params = {}
        if 'page_size' in params:
            query_params['pageSize'] = params['page_size']
        if 'before_source_type' in params:
            query_params['beforeSourceType'] = params['before_source_type']
        if 'before_source_id' in params:
            query_params['beforeSourceId'] = params['before_source_id']
        if 'after_source_type' in params:
            query_params['afterSourceType'] = params['after_source_type']
        if 'after_source_id' in params:
            query_params['afterSourceId'] = params['after_source_id']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['PureCloud OAuth']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='DependencyEntityListing',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
