# ValidationResult

## ValidationResult

## Properties

|Name | Type | Description | Notes|
|------------ | ------------- | ------------- | -------------|
| **separator_valid** | bool | Separator valid in the upload | |
| **file_encoding_valid** | bool | File encoding valid for the upload | |
| **errors** | [list[ValidationError]](ValidationError) | List of errors for the upload | |



_PureCloudPlatformClientV2 247.0.0_
